python-dotenv
mistralai
langchain
langchain-community
langchain-mistralai
PyPDF2
docx2txt
faiss-cpu
streamlit
spacy
langdetect
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.4/en_core_web_sm-3.8.4-py3-none-any.whl